.social-sidebar--fixed .rsmm-socialbar-wrap {
  position: fixed !important;
  padding: 7px 0 1px 0;
  right: 0;
  top: 180px;
  background: #212B33;
  display: inline-block;
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
  width: 50px !important;
  z-index: @zindexFixedNavbar;
  &.icon-only{
    padding: 15px 0;
    .sb-link{
    	display: inline-block;
    	padding: 6px 0;
    }
  }
  &.boxed.muted i {
    background: rgba(180,167,135,0.8);
    text-shadow: none
  }

  &.boxed.muted i:before {
    color: #212B33 !important
  }
}

@media screen and (max-width: 767px) {
  .social-sidebar--fixed{
    display:none !important
  }
}


.rsmm-socialbar-wrap {

	// ===============================
	// COLOR SCHEMES
	// ===============================

	// .tooltip-inner{
	// 	background: rgba(255,255,255,.8);
	// 	color: #333;
	// 	color: rgba(0,0,0,.8);
	// }
	// .tooltip-left{
		
	// }
	// .tooltip-arrow{
	// 	border-color
	// }
	// Dark bands
	.pl-black &,
	.pl-grey &,
	.pl-dark-img &{
		&.icon-only .sb-links a{
			color: @pl-base;
		}
		&.boxed.muted i{
			color: @pl-text;
			background: @pl-base;
		}
	}
	// Light bands
	.pl-white &,
	.pl-base &,
	.pl-contrast &,
	.pl-light-img &{
		&.icon-only .sb-links a{
			color: @pl-text;
		}
		&.boxed.muted i{
			color: @pl-base;
			background: @pl-text;
		}
		// &.full-color .sb-links a:hover{
		// 	opacity: .7 !important;
		// }
	}

	.full-color .sb-links a:hover{
		opacity: .7 !important;
	}

	// =============================== //

	&.muted a:hover{
		opacity: 1;
	}
	// ===============================
	// BOXED & CIRCLE STYLES
	// ===============================

	&.boxed a{
		line-height: 30px;
		height: 35px;
		display: inline-block
	}
	&.boxed i{
		padding: 2px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		&.icon-facebook{text-align: right}
	}
	// no color icon only - show color on hover
	&.icon-only.muted a:hover i{
		&.icon-facebook{ color: #547bbd; }
		&.icon-linkedin{ color: #1b92bd; }
		&.icon-instagram{ color: #316c95; }
		&.icon-twitter{ color: #78ccf0; }
		&.icon-youtube{ color: #e9644a; }
    &.icon-google{ color: #d94a39; }
    &.icon-google-plus{ color: #d94a39; }
		&.fa-google{ color: #d94a39; }
		&.icon-pinterest{ color: #ea5655; }
		&.icon-flickr{ color: #346db4; }
		&.icon-yelp{ color: #d41300; }
	}
	// full color icon only
	&.icon-only.full-color .sb-links a i{
		&.icon-facebook{ color: #547bbd; }
		&.icon-linkedin{ color: #1b92bd; }
		&.icon-instagram{ color: #316c95; }
		&.icon-twitter{ color: #78ccf0; }
		&.icon-youtube{ color: #e9644a; }
    &.icon-google{ color: #d94a39; }
    &.icon-google-plus{ color: #d94a39; }
		&.fa-google{ color: #d94a39; }
		&.icon-pinterest{ color: #ea5655; }
		&.icon-flickr{ color: #346db4; }
		&.icon-yelp{ color: #d41300; }
	}

	// no color until hover, then set the background the color
	&.boxed.muted a:hover i{
		color: #fff;
		&.icon-facebook{ background: #547bbd; }
		&.icon-linkedin{ background: #1b92bd; }
		&.icon-instagram{ background: #316c95; }
		&.icon-twitter{ background: #78ccf0; }
		&.icon-youtube{ background: #e9644a; }
    &.icon-google{ background: #d94a39; }
    &.icon-google-plus{ background: #d94a39; }
		&.fa-google{ background: #d94a39; }
		&.icon-pinterest{ background: #ea5655; }
		&.icon-flickr{ background: #346db4; }
		&.icon-yelp{ background: #d41300; }
	}
	&.boxed.full-color i{
		color: #fff;
		&.icon-facebook{ background: #547bbd; }
		&.icon-linkedin{ background: #1b92bd; }
		&.icon-instagram{ background: #316c95; }
		&.icon-twitter{ background: #78ccf0; }
		&.icon-youtube{ background: #e9644a; }
    &.icon-google{ background: #d94a39; }
    &.icon-google-plus{ background: #d94a39; }
		&.fa-google{ background: #d94a39; }
		&.icon-pinterest{ background: #ea5655; }
		&.icon-flickr{ background: #346db4; }
		&.icon-yelp{ background: #d41300; }
	}

	&.box-rounded i{
		border-radius: 4px;
	}

	&.circle i{
		border-radius: 50%;
		text-align: center !important;
	}

	// =============================== //
}

.rsmm-socialbar-wrap {

	.sb-links{
		float: right;
	}
	&.sb-links-left .sb-links{
		float: left;
	}
	&.sb-links-center {
		text-align: center;
		.sb-links{
			float: none;
			display:inline-block;
		}
	}
	&.sb-links-vertical {
		.sb-links{float: none;}
		i{
			min-width: 20px;
			text-align: center;
		}
		a{
			display: block;
			clear: both;
			margin-bottom: 6px;
		}
	}

	@media (max-width: @resPortraitTablet) {
		.sb-links{
			float: none;
			// text-align: center;
			margin: 10px 0;
		}
		.pl-nav{
			display: block;
		}

	}
}
// Each Social Bar Link Icon
.sb-link i{
	font-size: 22px;
	line-height: 22px;
	margin: 0 8px;
	color: inherit;
}
@font-face {
	font-family: 'social-icons';
	src:url(~"@{sms_social_bar_url}/assets/fonts/social-icons.eot?-5565ob");
	src:url(~"@{sms_social_bar_url}/assets/fonts/social-icons.eot?#iefix-5565ob") format('embedded-opentype'),
		url(~"@{sms_social_bar_url}/assets/fonts/social-icons.woff?-5565ob") format('woff'),
		url(~"@{sms_social_bar_url}/assets/fonts/social-icons.ttf?-5565ob") format('truetype'),
		url(~"@{sms_social_bar_url}/assets/fonts/social-icons.svg?-5565ob#social-icons") format('svg');
	font-weight: normal;
	font-style: normal;
}

// // [class^="social-icon-"], [class*=" social-icon-"] {
// .social-icon {
// 	font-family: 'social-icons';
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }




i.icon-yelp:before {
	// content: "\e621";
	// top: 2px;
	margin-top: -3px;
	position: relative;
	line-height: 15px !important;
}


// ## Font Awesome Fix
// Overrides the Pagelines version of the Font Awesome library for icons that use it (Google) in the social bar 
.rsmm-socialbar-wrap .icon,.fa {
  font-family: FontAwesome;
}

// Icons
.social-icon-envelope:before {
	content: "\e600";
}
.social-icon-twitter:before {
	content: "\e601";
}
.social-icon-yelp:before {
	content: "\e621";
}
.social-icon-twitter-square:before {
	content: "\e602";
}
.social-icon-twitter3:before {
	content: "\e603";
}
.social-icon-youtube4:before {
	content: "\e604";
}
.social-icon-youtube3:before {
	content: "\e605";
}
.social-icon-google:before {
	content: "\e606";
}
.social-icon-google-square:before {
  content: "\e606";
}
.social-icon-google-circle:before {
  content: "\e606";
}
.social-icon-google-plus:before {
	content: "\e607";
}
.social-icon-google-plus-square:before {
	content: "\e608";
}
.social-icon-google-plus-circle:before {
	content: "\e609";
}
.social-icon-linkedin-square:before {
	content: "\e60a";
}
.social-icon-feed:before {
	content: "\e60b";
}
.social-icon-feed-square:before {
	content: "\e60c";
}
.social-icon-mail-circle:before {
	content: "\e60d";
}
.social-icon-map-pin-stroke:before {
	content: "\e60e";
}
.social-icon-map-pin2:before {
	content: "\e60f";
}
.social-icon-pinterest:before {
	content: "\e610";
}
.social-icon-youtube:before {
	content: "\e611";
}
.social-icon-instagram:before {
	content: "\e612";
}
.social-icon-facebook:before {
	content: "\e613";
}
.social-icon-flickr:before {
	content: "\e614";
}
.social-icon-flickr-square:before {
	content: "\e615";
}
.social-icon-flickr-circle:before {
	content: "\e616";
}
.social-icon-linkedin:before {
	content: "\e617";
}
.social-icon-mail:before {
	content: "\e618";
}
.social-icon-gmail:before {
	content: "\e619";
}
.social-icon-feed-circle:before {
	content: "\e61a";
}
.social-icon-wordpress:before {
	content: "\e61b";
}
.social-icon-wordpress-square:before {
	content: "\e61c";
}
.social-icon-facebook-circle:before {
	content: "\e61d";
}
.social-icon-pinterest-circle:before {
	content: "\e61e";
}
.social-icon-pinterest-square:before {
	content: "\e61f";
}
.social-icon-youtube2:before {
	content: "\e620";
}
.social-icon-instagram-alt:before {
	content: "\e622";
}
.social-icon-facebook-square:before {
	content: "\e623";
}
